* {
  box-sizing: border-box;

  &::after {
    box-sizing: border-box;
  }

  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
}

.Wrapper {
  display: flex;
}

.App {
  display: flex;
  flex: 0 1 85%;
  flex-direction: column;
}
