* {
  box-sizing: border-box;

  &::after {
    box-sizing: border-box;
  }

  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;

  &__left {
    flex: 0 1 15%;
    max-width: 400px;
    min-width: 300px;
    min-height: 100vh;
    height: auto;
  }

  &__right {
    flex: 0 1 85%;
    margin: 0 0 16px 0;
  }
}
